/* */
.productFormContainer {
    margin: auto;
    width: auto;
    display: inherit;
}
.productForm {
    margin: auto;
    width: auto;
    display: inherit;
}

.createProductDetails {
    margin-right: 10px;
    width: 250px;
}
.createProductTypes {
    width: 250px;
}
.createProductControl {
    margin-left: 10px;
    width: 250px;
}
/* .react-datetime-picker >  {
    height: inherit;
    width: 100%;
    margin-top: 0px;
    box-sizing: border-box;
} */
.react-datetime-picker__inputGroup  {
    height: 32px;
    width: 250px;
} 

.submitButton {
    margin: auto;
    background: #666666;
    border-radius: 20px;
    color: #EEEEEE;
    cursor: pointer;
    font-weight: 600px;
    height: 3em;
    justify-self: center;
    width: 750px;
}

