table {
    border-width: 1px;
    border-color: #1d2228;
    border-style: solid;
    border-collapse: collapse;
    width: 80vw;
    height: 40vh;
    align-self: auto;
    
}

thead, th {
background-color: #fb8122;
max-width: 80vw;
max-height: 40vh;
position: sticky;
top: 0;

}

th, td {
    width: 4.4vw;
    height: 5vw;
    min-width: 120px;
    max-height: 60px;
    overflow-wrap: break-word;
}

td {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    text-align: center;
    
}  

tbody {
    width: 80vw;
    height: 40vh;
    overflow: scroll;
    }

.ProductTable{
    max-width: 80vw;
    max-height: 40vw;
    overflow: scroll;
}