
li{
    margin: 1.5em 0;
    width: 220px;
}
.headerShipping{
position: relative;
text-align: justify;
padding:2px 1.25em 0px;
border-bottom: 5px solid #FB8122;
border-radius: 5%;
width: 150px;
}

.headerName{
    display: block;
    text-align: center;
    padding:2px 1.25em 0px;
    position: relative;
    border-radius: 5%;
    border-bottom: 5px solid #FB8122;
    width: 150px;
}
.userInfo{
    margin-bottom: 4em;
    font-size: large;
    flex: 1 1 90%;
    color: #1d2228;
    height: 6em;
    text-align: left;
}
.profile{
    display: relative;
    flex: 1 1 5%;
    flex-direction: column;
    height: 80%;
}
.tabs{
    background-color: #1d2228;
    border: 1px solid;
    color: #FB8122;
    display: block;
    font-size: 1em;
    height: 2.5em;
    width: 8em;
}
.ui {
    display: flex;
    height: 100%;
    width: 100%;
}
.buttons {
    
}

.userInfodiv{
    position: absolute;
    top: 10.5em;
    left: 44.5%;
    width: 15%;
    height: 8em;
}
.purchases{
    position: absolute;
    width:50%;
    display:flex;
    left:50%;
    top: 10.5em;
    height: 80%;
    width: 50%;
}
.purchaseTotal{
    flex: 1 1 30%;
}
.orderDate{
    flex: 1 1 30%;
}
.productsCollapsible{
    display: flex;
    flex-direction: column;
}
.closed{
    display: none;
}
.productsCollapsible{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.itemName{
    flex: 1 1 40%;
}
.itemQuantity{
    flex: 1 1 20%;
}

.itemCost{
    flex: 1 1 40%;
}