.sidebar, .sideCollapsed{
    background-color: #1d2228;
    box-sizing: border-box;
    color:#e1e2e2;
    height:100%;
    padding:15px;
    position:fixed;
    width:155px;
    left:0;
    top: 70px;
    transition: left 250ms;
}

.sideCollapsed{
    left:-140px;
}

.filterCheckbox{
    background-color: #fb8122;
    border: 1px solid #e1e2e2;
    box-sizing: border-box;
    color: #E1E2E2;
    font-size:1rem;
    min-height:120px;
    padding:7% 0%;
    width:100%;
    height: auto;
}
  
.fieldset{
    border:none;
    font-size: .9rem;
    width:150px;
    padding: 2% 8%;
}

/* .checkBoxLabel{
    padding-left:10%;
} */