body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  align-items: center;
  background-color: #1D2228; 
  color: #E1E2E2;
  display: flex;
  flex-direction: column;
  height:7vh;
  justify-content:center;
  margin-top:10vh;
  width: 100%; 
  
}

.header {
  align-items: center;
  background-color: #1D2228; 
  color: #E1E2E2;
  display: grid;
  grid-row: 50px;
  text-align: center;
  flex-direction: column;
  height:70px;
  justify-content:center;
  margin-bottom:10vh;
  width: 100%; 
}

.googlebutton{
  /* margin-left: 500%; */
  max-width: 100%;
  position: relative;
  left: 600%;
  bottom: 70%;
}

.carticon{
  height: 60px;
position: relative;
left: 745%;
bottom: 135%;
}

.applogo{
  height: 60px;
  position: relative;
  right: 745%;
  bottom: 235%;
  padding-left: 30px;
}

#root{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  min-height: 100vh;
}