 body {
  margin: 0;
  margin-top: 90px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  align-items: center;
  background-color: #1D2228; 
  color: #E1E2E2;
  display: flex;
  flex-direction: column;
  height:7vh;
  justify-content:center;
  margin-top:10vh;
  width: 100%; 
  
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  margin-bottom: 10px;
  align-items: center;
  background-color: #1D2228; 
  color: #E1E2E2;
  display: grid;
  grid-row: 50px;
  text-align: center;
  flex-direction: column;
  height: 70px;
  justify-content:center;
  /* margin-bottom:10vh; */
  width: 100%; ;
}

.googlebutton{
  position: relative;
  left: 39vw;
  top: 20%;
  padding-right: 20px;
}

.carticon{
height: 60px;
position: absolute;
left: 93%;
bottom: 1%;
padding-right:3%;
padding-left: 1%;
filter:invert(13%) opacity(90%); 
float: right;
}

.applogo{
  height: 50px;
  position: absolute;
  right: 95%;
  bottom: 11%;
  padding-left: 1%;
  /* filter: invert(69%) sepia(56%) saturate(4559%) hue-rotate(345deg) brightness(101%) contrast(97); */
  /* filter: invert(51%) sepia(1100%) saturate(700%) hue-rotate(345deg) brightness(100%) contrast(100%); */
   filter: invert(20%) sepia(56%) saturate(303%) hue-rotate(1deg) brightness(170%) contrast(90%);
  /* filter: invert(67%) sepia(37%) saturate(5565%) hue-rotate(345deg) brightness(101%) contrast(97%); */
  float: left;
}

#root{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  min-height: 100vh;
}

